*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(255, 166, 0, 0.377);
    font-size: 1rem;
}

h1 {
    padding: 5px;
    background-color:rgb(0, 0, 0) ;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: fixed;
}

#details {
    position: fixed;
    height: 500px;
    width: 47%;
    border-right: 3px solid rgb(0, 0, 0);
    margin-top: 30px;
    padding: 3%;
    padding: 40px;
    margin-left: 30px;
    font-size: 1.2rem;
}

input {
    border-radius: 10px;
    padding: 10px;
    height: 1.7rem;
    margin-top: 10px;
    height: fit-content;
    margin-left: 30px;
}

input:focus {
    outline-color: rgb(125, 179, 37);
}

input[type=file]::file-selector-button {
    background-color: rgb(255, 255, 255);;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.5s;
}

input[type=file]::file-selector-button:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border: 2px solid #000000;
}

.width {
    width: 70%;
    padding-left: 5px;
}

label {
    text-decoration: underline;
}

.radios label {
    text-decoration: none;
}

.boxes label {
    text-decoration: none;
}

#clear {
    float:inline-end;
    margin-top: 20px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    width: 40%;
    background-color: rgb(6, 176, 255);
}
#clear:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.buttons {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

button {
    width: 40%;
    border-radius: 7px;
    background-color:rgb(6, 176, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    transition: 0.5s;
    font-size: 500;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

#inp_male {
    accent-color: rgb(0, 0, 0);
}

#inp_female {
    accent-color: rgb(0, 0, 0);
}

.checkbox {
    accent-color: rgb(0, 0, 0);
}

.head {
    font-weight: 900;
}

.radios {
    margin-left: 100px;
}

.boxes {
    margin-left: 100px;
}


#output {
    position: absolute;
    width: 80%;
    height: 450px;
    padding: 20px;
    border: radius 20px;
    ;
    border: 2px solid rgb(0, 0, 0);
    float: right;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 20px;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

#output::-webkit-scrollbar {
    width: 15px;
    
}

#output::-webkit-scrollbar-thumb {
    background-color: #334e49;
    border-radius: 20px;
    border: 2px solid rgb(255, 127, 127);
}

.data {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
}

.info {
    overflow-wrap: break-word;
    border: 1px solid black;
    width: 70%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.image {
    border: 2px solid black;
    width: 30%;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-position: center;
    background-size: cover;
}

img {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
